@model View.Models.NewMainImageModel

@{
    ViewData["Title"] = "ChangeMainImage";
}

<h1>Change main image</h1>

<h4>NewMainImageModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeMainImage" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MoveOldImageToSubimage" /> @Html.DisplayNameFor(model => model.MoveOldImageToSubimage)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
